body {
    background-color: black;
}

.upperBar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #372819;
    padding-left: 6px;
    height: 31px;
    width: 100%;
}

.upperBar_user_icon {
    margin-right: 4px;
}

.upperBar_leftContent {
    display: flex;
    align-items: center;
}

.upperBar_rigthContent {
    display: flex;
    justify-content: flex-end;
}

.upperBar_rigthContent_button {
    background-color: #e5e5e5;
    padding: 10px 15px;
    margin-left: 1px;
    cursor: not-allowed;
}

.content {
    padding: 2px;
}

.content .content_input .content_input_line1 .span1{
    color: #009e00;
    padding-right: 4px;
}

.content .content_input .content_input_line1 .span2{
    padding-right: 4px;
    color: #8f0081;
}

.content .content_input .content_input_line1 .span3{
    color: #bab900;
}

.content .content_input .content_input_line .span{
    color: #b8b5af;
}
